    <!-- ++++++++++++++++++++++++++++++ IMAGE CAROUSELS ++++++++++++++++++++++++++++++++++++++-->
    <div class="row titlerow">
      <div class="col-sm-5 col-xs-4"><hr></div>
      <div class="col-sm-2 col-xs-4"><h2 class="text-center" style="color: #5e5e5e">Albergo di Ieri</h2></div>
      <div class="col-sm-5 col-xs-4"><hr></div>
    </div>
    <div ng-controller="AlbergoPropertyCarousel" class="imagecarousels">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides" index="slide.id">
                <img ng-src="{{slide.image}}" alt="{{slide.alt}}">
                <div class="carousel-caption">
                    <h3>Albergo di Ieri</h3>
                    <p translate={{slide.subtext}}></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row titlerow">
      <div class="col-sm-5 col-xs-4"><hr></div>
      <div class="col-sm-2 col-xs-4"><h2 class="text-center" style="color: #5e5e5e">Camara Tagete</h2></div>
      <div class="col-sm-5 col-xs-4"><hr></div>
    </div>
    <div ng-controller="CameraTageteCarousel" class="imagecarousels">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides" class="{{slide.class}}" index="slide.id">
                <img ng-src="{{slide.image}}" alt="{{slide.alt}}">
                <div class="carousel-caption">
                    <h3>Camera Tagete</h3>
                    <p translate={{slide.subtext}}></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row titlerow">
      <div class="col-sm-5 col-xs-4"><hr></div>
      <div class="col-sm-2 col-xs-4"><h2 class="text-center" style="color: #5e5e5e">Camara Oleandro</h2></div>
      <div class="col-sm-5 col-xs-4"><hr></div>
    </div>
    <div ng-controller="CameraOleandroCarousel" class="imagecarousels">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides" class="{{slide.class}}" index="slide.id">
                <img ng-src="{{slide.image}}" alt="{{slide.alt}}">
                <div class="carousel-caption">
                    <h3>Camera Oleandro</h3>
                    <p translate={{slide.subtext}}></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row titlerow">
      <div class="col-sm-5 col-xs-4"><hr></div>
      <div class="col-sm-2 col-xs-4"><h2 class="text-center" style="color: #5e5e5e">Camara Gelsomino</h2></div>
      <div class="col-sm-5 col-xs-4"><hr></div>
    </div>
    <div ng-controller="CameraGelsominoCarousel" class="imagecarousels">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides" class="{{slide.class}}" index="slide.id">
                <img ng-src="{{slide.image}}" alt="{{slide.alt}}">
                <div class="carousel-caption">
                    <h3>Camera Gelsomino</h3>
                    <p translate={{slide.subtext}}></p>
                </div>
            </div>
        </div>
    </div>
    <!-- ++++++++++++++++++++++++++++++ IMAGE CAROUSELS END ++++++++++++++++++++++++++++++++++++++-->
    <br>
    <br>
    <br>
